@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&family=Inknut+Antiqua:wght@400;600;700&family=Inter:wght@400;500;700&family=Josefin+Sans:wght@500;600;700&family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(30, 39, 93);
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    background-color: rgb(192, 202, 223);
    border-radius: 20px;
    width: 500px;
    height: auto;
    padding: 25px;
    overflow: hidden;
}

.weather-head {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.weather-title {
    color: rgb(35, 35, 197);
    font-weight: 700;
    font-size: 40px;
}

.form {
    position: relative;
}

.weather-text {
    padding: 10px;
    width: 230px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
}

.weather-btn {
    position: absolute;
    border-radius: 10px;
    background-color: rgb(183, 179, 200);
    color: rgb(35, 35, 197);
    right: 0px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: 1s;
}

.weather-btn:hover {
    background-color: rgb(154, 151, 175);
}

.post {
    padding-top: 20px;
    display: none;
    flex-direction: column;
    row-gap: 15px;
}

.post-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 10px;
}

.post-weather {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p {
    position: relative;
    font-weight: 700;
    font-size: 55px;
}

sup {
    position: absolute;
    top: 57%;
    right: 54.8%;
    font-weight: 700;
    font-size: 22px;
}

.post-data {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .post-disc {
        font-weight: 700;
        font-size: 25px;
    }

    & .post-wind {
        font-weight: 700;
        font-size: 25px;
    }
}

.error {
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    color: red;
    font-weight: 700;
    font-size: 25px;
}